@inject EastonPartners.Domain.Entities.Settings.ApplicationSettings Settings

@{
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<head>
    <script src="~/vendor/chat-bot/bot.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="~/vendor/theme-adjuster\script.js" defer></script>
    <style type="text/css">
        htmx-indicator {
            opacity: 0;
            display: none;
            transition: opacity 500ms ease-in;
        }

        .htmx-request .htmx-indicator {
            opacity: 1;
            display:block;
        }

        .htmx-request.htmx-indicator {
            opacity: 1;
            display: block;
        }

        #waiting-animation {
            font-size: 1.5rem;
            font-weight: bold;
        }
    </style>
</head>

<div class="container-narrow py-4">
    <div class="text-center mb-2">
        <a id="unactivated" style="margin-right: 5%; margin-bottom: 1%;" class="btn" asp-area="" asp-controller="Home" asp-action="Help">
            Help Menu
        </a>
        <div class="navbar-brand navbar-brand-autodark">
            
            <div class="d-flex flex-row">
                <div class="p-3">
                    <img src="@Settings.LogoImageUrlSmall" style="height:3rem">
                </div>
                <div class="align-self-center">
                    <div class="fs-1 fw-bolder">
                        <a style="color:grey" asp-area="" asp-controller="Home" asp-action="Index">@Settings.SiteName</a>
                    </div>
                </div>
            </div>
            
        </div>
        <a style="margin-left: 5%; margin-bottom: 1%;" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Assistant">
            Assistant
        </a>
    </div>

    <div class="card card-md">
        <div class="card-body">
            <h2 class="fw-bold">Assistant</h2>
            <p>Type your question in the box bellow and I'll help you as much as I can.</p>
            <hr/>
            <div id="chat">
            </div>
            <div id="waiting" class="htmx-indicator response">
                Assistant: 
                <p id="waiting-animation">.</p>
            </div>
        </div>
    </div>
    <form hx-post="/home/chat" hx-target="#chat" hx-swap="beforeend" hx-indicator="#waiting" style="padding-top: 10px;">
        <input id="text-box" name="message" style="width: 600px;" /> <input onclick="go()" type="submit" value="Go" style="width: 68px;" class="btn btn-primary">
    </form>
</div>