@using Microsoft.AspNetCore.Identity
@using EastonPartners.Domain.Entities.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="icon las la-moon"></i>
</a>
<a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
	<i class="icon las la-sun"></i>

	</a>
@if (SignInManager.IsSignedIn(User))
{
	var user = await UserManager.GetUserAsync(User);
	var role = (await UserManager.GetRolesAsync(user)).FirstOrDefault();

    <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url(https://www.gravatar.com/avatar/@user.GravitarHash() ? d=identicon)"></span>
            <div class="d-none d-xl-block ps-2">
                <div>@user.FullName</div>
                <div class="mt-1 small text-muted">@user.Email</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="dropdown-item">Dashboard</a>
            <a asp-area="Identity" asp-controller="Manage" asp-action="Index" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Settings</a>
            <a onclick="document.getElementById('logoutForm').submit()" class="dropdown-item">Logout</a>
        </div>
    </div>
}
else
{
    <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="nav-link px-0 ms-3">Login</a>
}