@model EastonPartners.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
	ViewData["Title"] = "Dashboard";
}

<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 style="margin-bottom: 5%;" class="page-title">
					Manage Partners
				</h2>
			</div>
			<!-- Page title actions -->
			<div class="col-auto ms-auto d-print-none">
				<div class="btn-list">
					<span class="d-none d-sm-inline">
						<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Help">
							Help
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Manage Partners -->
<div>
	<span class="d-none d-sm-inline">
		<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Admin" asp-controller="Partner" asp-action="Index">
			Partners
		</a>
		<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Admin" asp-controller="PartnerType" asp-action="Index">
			Partner Types
		</a>
	</span>
</div>

<!-- Manage Users-->
@if (User.IsInRole("Admin"))
{
	<div>
		<h2 style="margin-bottom: 1%;" class="page-title">
			Manage Users
		</h2>
		<span class="d-none d-sm-inline">
			<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Identity" asp-controller="Users" asp-action="Index">
				Users
			</a>
			<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Identity" asp-controller="Roles" asp-action="Index">
				Roles
			</a>
		</span>
	</div>
}
<!-- END SAMPLE TABLER DASHBOARD -->