@model EastonPartners.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
	ViewData["Title"] = "Dashboard";
}

<head>
	<script src="~/vendor/chat-bot/bot.js" defer></script>
	<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
	<style type="text/css">
		htmx-indicator {
			opacity: 0;
			display: none;
			transition: opacity 500ms ease-in;
		}

		.htmx-request .htmx-indicator {
			opacity: 1;
			display: block;
		}

		.htmx-request.htmx-indicator {
			opacity: 1;
			display: block;
		}

		#waiting-animation {
			font-size: 1.5rem;
			font-weight: bold;
		}
	</style>
</head>

<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 style="margin-bottom: 5%;" class="page-title">
					Manage Partners
				</h2>
			</div>
			<!-- Page title actions -->
			<div class="col-auto ms-auto d-print-none">
				<div class="btn-list">
					<span class="d-none d-sm-inline">
						<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Help">
							Help
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Manage Partners -->
<div>
	<span class="d-none d-sm-inline">
		<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Admin" asp-controller="Partner" asp-action="Index">
			Partners
		</a>
		<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Admin" asp-controller="PartnerType" asp-action="Index">
			Partner Types
		</a>
	</span>
</div>

<!-- Manage Users-->
@if (User.IsInRole("Admin"))
{
	<div>
		<h2 style="margin-bottom: 1%;" class="page-title">
			Manage Users
		</h2>
		<span class="d-none d-sm-inline">
			<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Identity" asp-controller="Users" asp-action="Index">
				Users
			</a>
			<a style="margin-right: 1%; margin-bottom: 1%;" class="btn btn-primary" asp-area="Identity" asp-controller="Roles" asp-action="Index">
				Roles
			</a>
		</span>
	</div>
}

<div class="container-narrow py-4">
	<div class="card card-md">
		<div class="card-body">
			<h2 class="fw-bold">Assistant</h2>
			<p>Type your question in the box bellow and I'll help you as much as I can.</p>
			<hr />
			<div id="chat">
			</div>
			<div id="waiting" class="htmx-indicator response">
				Assistant:
				<p id="waiting-animation">.</p>
			</div>
		</div>
	</div>
	<form hx-post="/home/chat" hx-target="#chat" hx-swap="beforeend" hx-indicator="#waiting" style="padding-top: 10px;">
		<input id="text-box" name="message" style="width: 600px;" /> <input onclick="go()" type="submit" value="Go" style="width: 68px;" class="btn btn-primary">
	</form>
</div>
<!-- END SAMPLE TABLER DASHBOARD -->